{
  "token": "",
  "join_message": "gm",
  "owners": [
    86477779717066752
  ],
  "prefix": [
    "!"
  ],
  "playing": "YEP COCK",
  "playing_type": "playing|watching|listening",
  "status_type": "online|idle|dnd",
  "version": "2.0.1"
}
