{
  "token": "",
  "join_message": "yo what's up",
  "owners": [
    138056116880932864
  ],
  "prefix": [
    "!"
  ],
  "playing": "YEP COCK",
  "playing_type": "playing|watching|listening",
  "status_type": "online|idle|dnd",
  "version": "2.0.1"
}
