{
    "token": "token here",
    "join_message": "yo what's up",
    "owners": [
        138056116880932864,
        403308385539194880
    ],
    "prefix": [
        "poo "
    ],
    "playing": "poo help",
    "playing_type": "playing",
    "status_type": "online",
    "version": "1.0.2"
}
